@model testProject.ViewModels.ItemModels.CreateItemViewModel;

@{
    ViewData["Title"] = "Create";
}

<h1>Create New Item</h1>
@if (TempData["SuccessMessage"] != null)
{
    <script>
        alert('@TempData["SuccessMessage"]');
    </script>
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Item.ItemCode" class="control-label">Item Code</label>
                <input asp-for="Item.ItemCode" class="form-control" />
                <span asp-validation-for="Item.ItemCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.ItemDescription" class="control-label">Item Description</label>
                <input asp-for="Item.ItemDescription" class="form-control" />
                <span asp-validation-for="Item.ItemDescription" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" /> |
                <a asp-action="Index" class="btn btn-info">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
