@model testProject.ViewModels.AuthenticationViewModels.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Login</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form asp-controller="Access" asp-action="Login" method="post" class="bg-light p-4 rounded">
                    <h1 class="text-center mb-4">Login</h1>
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <script>
                            alert('@TempData["SuccessMessage"]');
                        </script>
                    }
                    <div class="form-group">
                        <label for="Username">Username</label>
                        <input type="text" id="Username" placeholder="Username" asp-for="User.Username" class="form-control" required autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label for="Password">Password</label>
                        <input type="password" id="Password" placeholder="Password" asp-for="User.Password" class="form-control" required />
                    </div>@* 
                    <div class="form-group form-check">
                        <input type="checkbox" id="loggedInCheckBox" asp-for="KeepLoggedIn" class="form-check-input"/>
                        <label class="form-check-label" for="loggedInCheckBox">Remember Me</label>
                    </div> *@
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                    @if (ViewData["ValidateMessage"] != null)
                    {
                        <div class="alert alert-danger mt-3" role="alert">
                            @ViewData["ValidateMessage"]
                        </div>
                    }
                    <a asp-controller="User" asp-action="Create" class="mt-3 d-block text-center">Sign Up</a>
                </form>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies (optional, only if needed) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-U7U5kzCq5lAO7bcrIEt7O+kg9a0Ljs/BISNy0/Jc/zI1LyGKbDP5I2fOWPuDOhmj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
