@model testProject.ViewModels.AuthenticationViewModels.LoginViewModel

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"]</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 50px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .btn-primary {
            width: 100%;
        }

        .sign-in-link {
            display: block;
            text-align: center;
            margin-top: 20px;
            color: #007bff;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center">@ViewData["Title"]</h1>

                <form asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="User.Username" class="control-label">Username</label>
                        <input asp-for="User.Username" class="form-control" required />
                        <span asp-validation-for="User.Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.Password" class="control-label">Password</label>
                        <input asp-for="User.Password" class="form-control" type="password" required />
                        <span asp-validation-for="User.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.EmailAddress" class="control-label">Email Address</label>
                        <input asp-for="User.EmailAddress" class="form-control" type="email" required />
                        <span asp-validation-for="User.EmailAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.Name" class="control-label">Name</label>
                        <input asp-for="User.Name" class="form-control" required />
                        <span asp-validation-for="User.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.Surname" class="control-label">Surname</label>
                        <input asp-for="User.Surname" class="form-control" required />
                        <span asp-validation-for="User.Surname" class="text-danger"></span>
                    </div>

                    <!-- Add similar styling for other form fields -->

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        <a asp-controller="Access" asp-action="Login" class="sign-in-link">Sign In</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies (optional, only if needed) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-U7U5kzCq5lAO7bcrIEt7O+kg9a0Ljs/BISNy0/Jc/zI1LyGKbDP5I2fOWPuDOhmj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
